<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Magasin d'épicerie</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/stock']">
      Stock d'épicerie
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let product of products">
        <img *ngIf="product.name == 'banane'" src="assets/img/banane_57300.jpg"
             class="card-img-top img-fluid img-thumbnail" alt="banane">
        <img *ngIf="product.name == 'poire'" src="assets/img/poire.jpg" class="card-img-top img-fluid img-thumbnail"
             alt="poire">
        <img *ngIf="product.name == 'pomme'" src="assets/img/pomme_rouge.jpg"
             class="card-img-top img-fluid img-thumbnail" alt="pomme">
        <img *ngIf="product.name == 'orange'" src="assets/img/orange_1.jpg" class="card-img-top img-fluid img-thumbnail"
             alt="orange">
        <img *ngIf="product.name == 'fraise'" src="assets/img/fraise-fond-blanc.jpg"
             class="card-img-top img-fluid img-thumbnail" alt="fraise">
        <div class="card-body">
          <h5 class="card-title">{{product.name | titlecase}} <span class="badge"
                                                                    [class.badge-danger]="product.stock < 1"
                                                                    [class.badge-success]="product.stock > 1">{{product.stock}} Kg en stock</span>
          </h5>
          <p class="card-text">{{product.description}}</p>
          <a class="btn btn-primary" role="button" [class.disabled]="product.stock < 1" (click)="openDialog(product)">ACHETER</a>
        </div>
      </div>
    </div>
  </div>
</div>
