<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gestion du stock d'épicerie</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/']">
      Accueil
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <h3 mat-subheader>Stock par article</h3>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let product of products">
    <mat-icon mat-list-icon>send</mat-icon>
    <h4 mat-line>{{product.name}}</h4>
    <p mat-line> {{product.grocer}} </p>
    <span class="example-spacer"></span>
    <input matInput placeholder="Stock" [(ngModel)]="product.stock">
  </mat-list-item>
</mat-list>
